back_2_basics/007_classes/__pycache__/admin.cpython-311.pyc
back_2_basics/007_classes/__pycache__/restaurant.cpython-311.pyc
back_2_basics/007_classes/__pycache__/user.cpython-311.pyc
back_2_basics/.DS_Store
.DS_Store
back_2_basics/.DS_Store
.DS_Store
